PORT=5000
MONGO_URI=mongodb+srv://xerasima257:xerasima257@cluster0.bkgqcyw.mongodb.net/
JWT_SECRET=your_jwt_secret_key
CLOUDINARY_CLOUD_NAME=dh5uixd91
CLOUDINARY_API_KEY=561159761855862
CLOUDINARY_API_SECRET=dkwKqNfgKWY28EiJVwpLsipStwI
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
YANDEX_USER=artemmolchanov205@gmail.com
YANDEX_PASS=bozepzidwpqptlpqcleanmgr
FRONTEND_URL=http://localhost:3000
NODE_ENV=development